:root {
    --primary-color: #d4af37;
    --prymary-color2: #ffd700;
    --bg-light: #fbeee6;
    --bg-lighter: #fff7f0;
    --text-dark: #333;
    --shadow: rgba(0,0,0,0.1);
    --btn-bg:#ffffff4d;
    --btn-hover: #ffd4ba;
    --zoom-glow: #d4af3766;
    --abtb-bg: #d7bfb0;
    --puo: #d4af371a;
}
